* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {

  .languages-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: row;

    .buttons-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .btn {
        background-color: blue;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
      }

      .active {
        background-color: rgb(255, 238, 0);
        color: black;
      }
    }


  }

  .card {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-top: 2rem;
    max-width: 750px;

    span {
      text-align: start;
      margin-top: 1rem;
    }
  }



}


}